<div class="item4">
    <div>
        <h2>Project Task Manager</h2>
        <p>This project is dedicated to all maderpaders that insipired me to continue my dreams of becoming a full stacks developer.</p>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <ul>
            <li><a href="#">IG</a></li>
            <li><a href="#">FB</a></li>
            <li><a href="#">LinkedIn</a></li>
            <li><a href="#">Email</a></li>
        </ul>
    </div>
</div>