<div class="item1-1">
    <ul>
        <li><a class="active" href="/tasks">Home</a></li>
        <li><a href="#news">Task History</a></li>
        <li><a href="#contact">Task Calendar</a></li>
        <li><a href="#contact">Report</a></li>
        <li><a href="#contact">About</a></li>
        <li>
            <div class="search-container">
                <input type="text" id="searchInput" placeholder="Search...">
                <button type="submit"><img src="../images/search-icon.svg"></button>
            </div>
        </li>
    </ul>
    
    
    <div class="dropdown">
        <button class="dropbtn">Account</button>
        <div class="dropdown-content">
          <a href="#">Profile</a>
          <a href="#">Log Out</a>
          <a href="#">Log In</a>
          <a href="#">Sign In</a>
        </div>
      </div>
    
</div>
