<div class="item1">
    <h1>TASK MANAGER</h1>
    <ul>
        <li><a href="#"><img src="../images/bell-line-icon.svg"></a></li>
        <li><a href="#"><img src="../images/color-adjust-icon.svg" alt=""></a></li>
    </ul>
</div>