
.item4 { 
  grid-area: footer; 
  background-color: #c1c1c1;
  text-align: center;
  align-items: center;
  height: 15vh;
  width: 100%;
}

.item4 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item4 li {
  display: inline-block; /* Change from float to inline-block */
  margin-left: 20px; /* Add margin between list items */
}

.item4 a {
  align-items: center;
  padding: 0;
  color: rgb(60, 70, 208); /* Set color for anchor elements */
  text-decoration: none; /* Remove underline from anchor elements */
}