<%- include('./partials/header.ejs') %>

<body>    
    <div class="grid-container">
      <%- include('./partials/title.ejs') %>
      <%- include('./partials/navbar.ejs') %>
      <%- include('./partials/main.ejs') %>
      <div class="item3">Menu</div>
      <div class="item4">Footer</div>
    </div>
    
</body>
</html>